<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
  <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="eventlens-forge"/>
  <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="net.minecraftforge.launcher.Main"/>
  <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djava.net.preferIPv6Addresses=system -javaagent:C:\Users\gregp\Desktop\Code Projects\MinecraftPlugins\EventLensMC\eventlens-client-agent\build\libs\eventlens-client-agent-1.2.3.jar -Dforge.enableGameTest=true"/>
  <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--main net.minecraftforge.bootstrap.ForgeBootstrap --cache C:\Users\gregp\.gradle\caches\minecraftforge\forgegradle\slime-launcher\cache\net\minecraftforge\forge\1.21.1-52.1.16 --metadata C:\Users\gregp\Desktop\Code Projects\MinecraftPlugins\EventLensMC\.gradle\mavenizer\repo\net\minecraftforge\forge\1.21.1-52.1.16\forge-1.21.1-52.1.16-metadata.zip --to-srg C:\Users\gregp\.gradle\caches\minecraftforge\forgegradle\mavenizer\caches\mcp\de\oceanlabs\mcp\mcp_config\1.21.1-20240808.132146\data\mapings\official\1.21.1\official-1.21.1-obf.tsrg.gz --to-obf C:\Users\gregp\.gradle\caches\minecraftforge\forgegradle\mavenizer\caches\mcp\de\oceanlabs\mcp\mcp_config\1.21.1-20240808.132146\data\mapings\official\1.21.1\official-1.21.1-srg.tsrg.gz -- --launchTarget forge_userdev_client --version MOD_DEV --assetIndex {asset_index} --assetsDir {assets_root} --gameDir . -mixin.config=eventlens.mixins.json"/>
  <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\gregp\Desktop\Code Projects\MinecraftPlugins\EventLensMC\eventlens-forge\run"/>
  <mapAttribute key="org.eclipse.debug.core.environmentVariables">
    <mapEntry key="MCP_MAPPINGS" value="official_1.21.1"/>
  </mapAttribute>
  <listAttribute key="org.eclipse.jdt.launching.CLASSPATH">
    <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&lt;runtimeClasspathEntry projectName=&quot;eventlens-forge&quot; type=&quot;1&quot; path=&quot;5&quot; /&gt;"/>
    <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&lt;runtimeClasspathEntry containerPath=&quot;org.eclipse.buildship.core.gradleclasspathcontainer&quot; javaProject=&quot;eventlens-forge&quot; type=&quot;4&quot; path=&quot;5&quot; /&gt;"/>
    <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&lt;runtimeClasspathEntry projectName=&quot;eventlens-mod-common&quot; type=&quot;1&quot; path=&quot;5&quot; /&gt;"/>
    <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&lt;runtimeClasspathEntry containerPath=&quot;org.eclipse.buildship.core.gradleclasspathcontainer&quot; javaProject=&quot;eventlens-mod-common&quot; type=&quot;4&quot; path=&quot;5&quot; /&gt;"/>
    <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&lt;runtimeClasspathEntry projectName=&quot;eventlens-core&quot; type=&quot;1&quot; path=&quot;5&quot; /&gt;"/>
    <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&lt;runtimeClasspathEntry containerPath=&quot;org.eclipse.buildship.core.gradleclasspathcontainer&quot; javaProject=&quot;eventlens-core&quot; type=&quot;4&quot; path=&quot;5&quot; /&gt;"/>
    <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&lt;runtimeClasspathEntry externalArchive=&quot;C:\Users\gregp\.gradle\caches\modules-2\files-2.1\net.minecraftforge\slime-launcher\0.2.2\c3f4d4b8306cf40d8a0a86ecdf816be088b6d6bf\slime-launcher-0.2.2.jar&quot; type=&quot;2&quot; path=&quot;5&quot; /&gt;"/>
    <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&lt;runtimeClasspathEntry containerPath=&quot;org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-21&quot; type=&quot;4&quot; path=&quot;5&quot; /&gt;"/>
  </listAttribute>
  <booleanAttribute key="org.eclipse.jdt.launching.DEFAULT_CLASSPATH" value="false"/>
</launchConfiguration>
